<div class="row row-cols-1 row-cols-md-4 no-gutters">
  <div *ngFor="let course of courses; let i = index">
    <a
      data-bs-toggle="modal"
      data-bs-target="#exampleModalSignUp"
      (click)="openXl(content, course)"
    >
      <div class="card card-plain" ngsReveal>
        <div class="card-image border-radius-lg position-relative">
          <div class="blur-shadow-image">
            <img
              class="img-fluid border-radius-lg move-on-hover"
              src="{{ course.courseThumbnail.url }}"
            />
          </div>
        </div>
        <div class="card-body px-0 pt-2">
          <span
            class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2"
            >{{ course.authorName }}</span
          >
          <p class="card-title h5 d-block text-darker">
            {{ course.courseName }}
          </p>
          <p class="card-description mb-4">
            {{ course.courseDescription | slice: 0:100 }}
          </p>
          <div class="author align-items-center">
            <img
              src="https://i.ytimg.com/vi/Stj9I9_Q_6w/default.jpg"
              class="avatar shadow"
            />
            <div class="name ps-3">
              <span>{{ course.authorName }}</span>
              <div class="stats">
                <small>Posted on 28 February</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="card card-plain">
            <div class="card-header p-0 mx-3 mt-4 position-relative z-index-1">
              <img
                src="{{ course.courseThumbnail.url }}"
                class="img-fluid border-radius-lg"
              />
            </div>

            <div class="card-body pt-2">
              <!-- <span
                class="text-gradient text-primary text-uppercase  font-weight-bold my-2"
                >House</span
              > -->
              <a class="card-title h5 d-block text-darker small">
                {{ course.courseName }}
              </a>
              <p class="card-description mb-2 text-sm">
                {{ course.courseDescription | slice: 0:200 }}
              </p>
              <div class="author align-items-center p-0">
                <div class="name">
                  <i class="fas fa-user-shield"></i>
                  <span> {{ course.authorName }}</span>
                </div>
              </div>
              <button
                type="button"
                class="btn bg-gradient-info btn-sm w-100 mt-3"
              >
                Add to your board
              </button>
            </div>
          </div>
        </div>
        <div class="col-8 mt-4">
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Modules
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of course.items">
                  <td>
                    <a href="{{ item.videoLink }}" target="_blank">
                      <div class="d-flex px-2">
                        <div>
                          <img
                            src="{{ item.moduleImage.url }}"
                            class="avatar avatar-sm rounded-circle me-2"
                          />
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">{{ item.moduleTitle }}</h6>
                        </div>
                      </div>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
