<div class="row row-cols-1 row-cols-md-4 g-4">
  <div
    class="card-group"
    *ngFor="let item of [].constructor(100); let i = index"
  >
    <div class="card card-plain" ngsReveal>
      <div class="card-image border-radius-lg position-relative">
        <a href="javascript:;">
          <div class="blur-shadow-image">
            <img
              class="img-fluid border-radius-lg move-on-hover"
              src="https://i.ytimg.com/vi/Stj9I9_Q_6w/maxresdefault.jpg"
            />
          </div>
        </a>
      </div>
      <div class="card-body px-0 pt-2">
        <span
          class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2"
          >House</span
        >
        <a href="javascript:;" class="card-title h5 d-block text-darker">
          Shared Coworking
        </a>
        <p class="card-description mb-4">
          Use border utilities to quickly style the border and border-radius of
          an element. Great for images, buttons.
        </p>
        <div class="author align-items-center">
          <img
            src="https://i.ytimg.com/vi/Stj9I9_Q_6w/default.jpg"
            alt="..."
            class="avatar shadow"
          />
          <div class="name ps-3">
            <span>Mathew Glock</span>
            <div class="stats">
              <small>Posted on 28 February</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
