<div
  class="container col-md-4 col-md-offset-4 centered"
  *ngIf="user; else userNotLoggedIn"
>
  <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-5 align-center">
        <label for="courseUrl" class="form-control-label"
          >Enter Course URL</label
        >
        <input
          class="form-control"
          type="text"
          name="courseUrl"
          ngModel
          required
        />
        <button type="submit" class="btn bg-gradient-secondary mt-1">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
<!-- 
<div class="col-md-4 col-md-offset-4 centered">
  <form>
    <div class="form-group">
      <label for="example-text-input" class="form-control-label">Text</label>
      <input
        class="form-control"
        type="text"
        value="John Snow"
        id="example-text-input"
      />
    </div>
  </form>
</div> -->
<ng-template #userNotLoggedIn>
  <lottie-player
    src="https://assets3.lottiefiles.com/packages/lf20_ymbzgxgc.json"
    background="transparent"
    class="d-flex mx-auto align-center"
    speed="2"
    style="width: 600px; height: 600px"
    loop
    autoplay
  ></lottie-player>
</ng-template>
